<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtian.mapper.PztClCrjlMapper">

   <select id="getUnHandleData" resultType="com.hongtian.entity.PztClCrjl">
       select * from pzt_cl_crjl where clbz = '0' and rownum &lt;= 1000
   </select>

    <select id="getClcrjljlByStartAndEnd" resultType="com.hongtian.entity.PztClCrjl">
         SELECT
        *
        FROM
        (
        SELECT
        TMP.*,
        ROWNUM ROW_ID
        FROM
        (
            select * from pzt_cl_crjl order by jlsj
        ) TMP
        WHERE
        ROWNUM &lt;= #{end,jdbcType=INTEGER}
        )
        WHERE
        ROW_ID > #{start,jdbcType=INTEGER}
    </select>

</mapper>
