<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtian.mapper.PztJcssJbMapper">


    <select id="cllstj" resultType="com.hongtian.entity.dto.JcssGkVo">
        select sbbh,sslx,count(1) as count from PZT_CL_CRJL where
        jlsj between #{startTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR}
        and sslx in
        <foreach item="item" index="index" collection="sslxs"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        group by sslx,sbbh
    </select>

    <select id="rllstj" resultType="com.hongtian.entity.dto.JcssGkVo">
        select sbbh,sslx,count(1) as count from PZT_RY_RLZPJL where
        jlsj between #{startTime,jdbcType=VARCHAR} and #{endTime,jdbcType=VARCHAR}
        and sslx in
        <foreach item="item" index="index" collection="sslxs"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        group by sslx,sbbh
    </select>

    <update id="updateYcSbTargetClean">
        update pzt_jcss_jb set ycbz = '0' where ycbz = '1'
    </update>

    <update id="updateYcSbTarget">
        update pzt_jcss_jb jb set ycbz = '1' where yxbz = '1' and exists(select 1 from PZT_JMXQ_YCYJ yc where jb.nbbh=yc.ywbzj and yc.dxlx = 'sb' and yc.stlx='SS18' and yc.YCBZ = '1')
    </update>
</mapper>
