<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtian.mapper.PztJmxqRlzpjlDahuaMapper">

    <select id="getUnHandleList" resultType="com.hongtian.entity.PztJmxqRlzpjlDahua">
        select * from nbdh.pzt_jmxq_rlzpjl where
        (clbz = '0' or clbz is null) and rownum &lt;= 1000
    </select>

    <select id="getUnHandleListByStart" resultType="com.hongtian.entity.PztJmxqRlzpjlDahua">
        SELECT
        *
        FROM
        (
        SELECT
        TMP.*,
        ROWNUM ROW_ID
        FROM
        (
            select * from nbdh.pzt_jmxq_rlzpjl where
             rownum &lt;= #{end,jdbcType=INTEGER} and clbz = '0'
        ) TMP
        WHERE
        ROWNUM &lt;= #{end,jdbcType=INTEGER}
        )
        WHERE
        ROW_ID > #{start,jdbcType=INTEGER}
    </select>

</mapper>
