<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hongtian.mapper.PztRyRlzpjlMapper">

    <select id="getUnHandleData" resultType="com.hongtian.entity.PztRyRlzpjl">
        select * from pzt_ry_rlzpjl where clbz = '0' and rownum &lt;= 1000
    </select>
    
    
    
    <select id="getRyrlapjlByStartAndEnd" resultType="com.hongtian.entity.PztRyRlzpjl">
        SELECT
        *
        FROM
        (
        SELECT
        TMP.*,
        ROWNUM ROW_ID
        FROM
        (
            select * from pzt_ry_rlzpjl where jlsj > #{time,jdbcType=VARCHAR} order by jlsj
        ) TMP
        WHERE
        ROWNUM &lt;= #{end,jdbcType=INTEGER}
        )
        WHERE
        ROW_ID > #{start,jdbcType=INTEGER}
    </select>



    <select id="getRyrlapjlByStartAndEndCurrentMonth" resultType="com.hongtian.entity.PztRyRlzpjl">
        SELECT
        *
        FROM
        (
        SELECT
        TMP.*,
        ROWNUM ROW_ID
        FROM
        (
            select * from pzt_ry_rlzpjl where jlsj > #{time,jdbcType=VARCHAR} and fsbz='0' order by jlsj
        ) TMP
        WHERE
        ROWNUM &lt;= #{end,jdbcType=INTEGER}
        )
        WHERE
        ROW_ID > #{start,jdbcType=INTEGER}
    </select>

    <delete id="deleteFsRlzpjl">
        delete from pzt_ry_rlzpjl where fsbz = '1' and jlsj &lt; #{time,jdbcType=VARCHAR} and rownum &lt; 2000
    </delete>
</mapper>
